<footer class="bg-[#1C1C1E] px-6 py-3 text-sm text-gray-400 flex justify-between items-center flex-shrink-0 shadow-[0px_-4px_12px_rgba(0,0,0,0.2)]">
  <div>
    &copy; <%= Time.now.year %> Helpify. Todos os direitos reservados.
  </div>
  <div>
    Versão 0.1.0 (Setup)
  </div>
</footer>