<header class="bg-[#1C1C1E] px-6 py-4 flex justify-between items-center flex-shrink-0 shadow-md z-10">
  <a href="/" class="text-xl font-semibold">Helpify</a>
  <div class="text-md">
    <span>Olá, Usuário</span>
  </div>
</header>